*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.imagem-pulsante{
        width: auto;
        height: 100px;

        animation: pulsar 1.5s infinite ease-in-out;
    }

    @keyframes pulsar {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }
body{
    background-image: url(../images/images.jpeg);
    background-size: cover;
    text-align: center;
    margin-top: 0;
}
header{
    display: flex;
    margin: 0;
}
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.664);
    border: rgb(110, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    margin: 40px 15% 40px 15%;
}
button{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.664);
    border: rgb(110, 0, 0);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    margin-top: 10%;

    img{
        height: 40px;
    }
}